<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/carstore_base</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <!--property name="hibernate.enable_lazy_load_no_trans">true</property-->

        <mapping resource="ru/job4j/carstorespring/AutoModel.hbm.xml"/>
        <mapping resource="ru/job4j/carstorespring/MakeCar.hbm.xml"/>
        <mapping resource="ru/job4j/carstorespring/Body.hbm.xml"/>
        <mapping resource="ru/job4j/carstorespring/Car.hbm.xml"/>
        <mapping resource="ru/job4j/carstorespring/Drive.hbm.xml"/>
        <mapping resource="ru/job4j/carstorespring/Engine.hbm.xml"/>
        <mapping resource="ru/job4j/carstorespring/Transmission.hbm.xml"/>
        <mapping resource="ru/job4j/carstorespring/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>