<web-app>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.carstore.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>ru.job4j.carstore.Start</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCar</servlet-name>
        <servlet-class>ru.job4j.carstore.AddCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCar</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditCar</servlet-name>
        <servlet-class>ru.job4j.carstore.EditCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCar</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TableController</servlet-name>
        <servlet-class>ru.job4j.carstore.TableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableController</servlet-name>
        <url-pattern>/table</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Engine</servlet-name>
        <servlet-class>ru.job4j.carstore.EngineController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Engine</servlet-name>
        <url-pattern>/engine</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Drive</servlet-name>
        <servlet-class>ru.job4j.carstore.DriveController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Drive</servlet-name>
        <url-pattern>/drive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Body</servlet-name>
        <servlet-class>ru.job4j.carstore.BodyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Body</servlet-name>
        <url-pattern>/body</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Transmission</servlet-name>
        <servlet-class>ru.job4j.carstore.TransmissionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Transmission</servlet-name>
        <url-pattern>/transmission</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MakeCar</servlet-name>
        <servlet-class>ru.job4j.carstore.MakeCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeCar</servlet-name>
        <url-pattern>/make</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Model</servlet-name>
        <servlet-class>ru.job4j.carstore.ModelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Model</servlet-name>
        <url-pattern>/model</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ru.job4j.carstore.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

</web-app>