<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name = "Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss} [%-15.15t] %-5level %38.38logger{38} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ru.job4j.fan.ConnectionFactory" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ru.job4j.fan.RoleStore" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ru.job4j.fan.AddressStore" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ru.job4j.fan.MusicStore" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ru.job4j.fan.UserStore" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ru.job4j.fan.UserMusicStore" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>