<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:inline="javascript">
    <title>Car Store Boot</title>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script>
        function checkSold(data) {
            var result;
            var bool = true;
            if (data[0] == bool) {
                result = '<td>' + '<input type="checkbox" checked disabled>' + '</td>';
            } else {
                result = '<td>' + '<input type="checkbox" disabled>' + '</td>';
            }
            var currentLogin = [[${#authentication.getName()}]];
            if (data[1] == currentLogin) {
                result += '<td>' + '<a href="./editCar?idCar=' + data[2] +'">edit</a>' + '</td>';
                result += '<td>' + '<a href="./deleteCar?idCar=' + data[2] + '">delete</a>' + '</td>';
            }
            return result;
        }

        function renderImage(data) {
            var result;
            if (data != '') {
                result = '<td>' + '<img src=' + data + ' width="100" height="70"/></td>';
            } else {
                result = '<td></td>';
            }
            return result;
        }

        function getData(reqData) {
            $.ajax({
                type : 'GET',
                url : './table',
                data : reqData,
                complete : function (data) {
                    var result = '';
                    var cars = JSON.parse(data.responseText);
                    for (var i = 0; i != cars.length; i++) {
                        result += '<tr>' + renderImage(cars[i].nameImg)
                                + '<td>' + cars[i].makeCar.make + ', '
                                + cars[i].autoModel.model + ', '
                                + cars[i].body.bodyType + ', '
                                + cars[i].year + ', '
                                + cars[i].running + ', '
                                + cars[i].transmission.transmType + ', '
                                + cars[i].engine.engineType + ', '
                                + cars[i].cubicCapacity.toFixed(1) + ', '
                                + cars[i].drive.driveType + ', '
                                + cars[i].cost
                                + '</td>'
                                + checkSold([cars[i].status, cars[i].seller.login, cars[i].id])
                                + '</tr>';
                    }
                    $('#tableTasks').find('tr:gt(0)').remove();
                    $('#tableTasks tr:last').after(result);
                }
            })
        }

        function getDataMake() {
            $.ajax({
                type : 'GET',
                url : './make',
                complete : function (data) {
                    var result = '';
                    var makes = JSON.parse(data.responseText);
                    for(var i = 0; i != makes.length; i++) {
                        result += '<option>' + makes[i].make + '</option>';
                    }
                    $('#selectMake').append(result);
                }
            });
        }
        function getDataBody() {
            $.ajax({
                type : 'GET',
                url : './body',
                complete : function (data) {
                    var result = '';
                    var bodies = JSON.parse(data.responseText);
                    for(var i = 0; i != bodies.length; i++) {
                        result += '<option>' + bodies[i].bodyType + '</option>';
                    }
                    $('#selectBody').append(result);
                }
            });
        }

        $(document).ready(function () {
            getData({
                'viewPhoto': 'false',
                'makeCar' : 'Make',
                'body' : 'Body'
            });
            getDataMake();
            getDataBody();
            $('#Search').on('click', function () {
                getData({
                    'viewPhoto': $('#viewPhoto').prop('checked'),
                    'makeCar' : $('#selectMake option:selected').text(),
                    'body' : $('#selectBody option:selected').text()
                });
            })
        })
    </script>
</head>
<body>
    <span th:text="${'Вы вошли под логином: ' + #authentication.getName()}"></span>
    <form th:action="@{/logout}" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-warning" value="Выйти"/>
        </div>
    </form>
    <br/>
    <br/>
    <div th:each="authority : ${#authentication.getAuthorities()}" th:if="${authority.getAuthority() == 'ROLE_ADMIN'}">
        <form action="./users" method="get">
            <button type="submit">Список пользователей</button>
        </form>
    </div>
    <br/>
    <br/>
    <br/>
    <form th:action="@{/addCar}" method="get">
        <button type="submit">Выставить автомобиль на продажу</button>
    </form>
    <br/>
    <br/>
    <div>
        <label for="viewPhoto">Только с фотографией</label>
        <input type="checkbox" name="withPhoto" id="viewPhoto" value="withPhoto">
        <label for="selectMake">Марка</label>
        <select size="1" id="selectMake" name="makeCar">
            <option>Make</option>
        </select>
        <label for="selectBody">Кузов</label>
        <select size="1" id="selectBody" name="body">
            <option>Body</option>
        </select>
        <button type="submit" id="Search">Показать</button>
    </div>
    <br/>
    <br/>

    <table id="tableTasks" name="carTable">
        <tr>
            <th></th>
            <th></th>
            <th>sold</th>
            <th></th>
        </tr>
    </table>
    </body>
</html>