<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="street" class="ru.job4j.BeanExample.Street"/>
    <bean id="country" class="ru.job4j.BeanExample.Country"/>
    <bean id="address" class="ru.job4j.BeanExample.Address">
        <constructor-arg name="country" ref="country"></constructor-arg>
    </bean>

    <bean id="jdbcstore" class="ru.job4j.SpringStore.JdbcStore">
        <constructor-arg value="jdbc:postgresql://localhost:5432/first_base"/>
        <constructor-arg value="postgres"/>
        <constructor-arg value="password"/>
    </bean>
    <bean id="store" class="ru.job4j.SpringStore.UserStorage">
        <constructor-arg ref="jdbcstore"/>
    </bean>

    <bean id="memorystore" class="ru.job4j.SpringStore.MemoryStore"/>


    <context:component-scan base-package="ru.job4j.BeanExample"/>

</beans>