<web-app>
    <servlet>
        <!--servlet-name>EchoServlet</servlet-name-->
        <servlet-name>UsersServlet</servlet-name>
        <!--servlet-class>ru.job4j.servlets.EchoServlet</servlet-class-->
        <servlet-class>ru.job4j.servlets.UsersServlet</servlet-class>
        <!--load-on-startup>1</load-on-startup-->
    </servlet>
    <servlet-mapping>
        <!--servlet-name>EchoServlet</servlet-name-->
         <servlet-name>UsersServlet</servlet-name>
        <!--url-pattern>/echo</url-pattern-->
        <url-pattern>/users</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartPageServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.StartPageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartPageServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartPageServletWithJSP</servlet-name>
        <servlet-class>ru.job4j.servlets.StartPageServletWithJSP</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartPageServletWithJSP</servlet-name>
        <url-pattern>/startWithJSP</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServletWithJSP</servlet-name>
        <servlet-class>ru.job4j.servlets.AddServletWithJSP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServletWithJSP</servlet-name>
        <url-pattern>/addServletJSP</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServletWithJSP</servlet-name>
        <servlet-class>ru.job4j.servlets.EditServletWithJSP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServletWithJSP</servlet-name>
        <url-pattern>/editServletJSP</url-pattern>
    </servlet-mapping>
</web-app>