<web-app>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.servlets.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartPageServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.StartPageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartPageServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartPageServletWithJSP</servlet-name>
        <servlet-class>ru.job4j.servlets.StartPageServletWithJSP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartPageServletWithJSP</servlet-name>
        <url-pattern>/startWithJSP</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServletWithJSP</servlet-name>
        <servlet-class>ru.job4j.servlets.AddServletWithJSP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServletWithJSP</servlet-name>
        <url-pattern>/addServletJSP</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServletWithJSP</servlet-name>
        <servlet-class>ru.job4j.servlets.EditServletWithJSP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServletWithJSP</servlet-name>
        <url-pattern>/editServletJSP</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CityController</servlet-name>
        <servlet-class>ru.job4j.servlets.CityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CityController</servlet-name>
        <url-pattern>/city</url-pattern>
    </servlet-mapping>
</web-app>